{% extends 'layouts/single_column_layout.html' %}

{% block title %}Sasquatches Websightings - Login{% endblock %}

{% block content %}

    <!-- get flash messages by category -->
    {% if get_flashed_messages(category_filter=['login']) %}
        {% set login_messages = get_flashed_messages(category_filter=['login']) %}
    {% endif %}
    {% if get_flashed_messages(category_filter=['register']) %}
        {% set register_messages = get_flashed_messages(category_filter=['register']) %}
    {% endif %}

    {% set reg_form_data = "" %}
    {% if get_flashed_messages(category_filter=['registration_form_data']) %}
        {% set reg_form_data = get_flashed_messages(category_filter=['registration_form_data']) | index(0) %}
    {% endif %}

    <!-- Show registration on page load -->
    <!-- - set session "show_registration" = True -->
    <!-- - will remove after page loads -->
    {% if 'show_registration' in session and session['show_registration'] == True %}
        {% set show_login = "" %}
        {% set show_registration = "show" %}
        {% set x = session.pop('show_registration') %}
    {% else %}
        {% set show_login = "show" %}
        {% set show_registration = "" %}
    {% endif %}

    <div class="d-flex flex-column mt-3"> 
        <!-- Login -->
        <div class="panel rounded p-3 mx-auto flex-grow-1 login-register collapse {{ show_login }}" style="height: min-content; min-width: 450px;">
            <h4 class="text-center mt-1 mx-auto">Login</h4>

            <form action="/login" method="post" novalidate="novalidate">
                <!-- inputs -->
                <p class="validation" {{ login_messages | get_validation_visibility("email")}}>{{ login_messages | get_validation_message("email") }}</p>
                <input type="text" class="form-control mb-2" name="email" placeholder="Email">
                <p class="validation" {{ login_messages | get_validation_visibility("password")}}>{{ login_messages | get_validation_message("password") }}</p>
                <input type="password" class="form-control mb-2" name="password" placeholder="Password">

                <hr class="">

                <!-- links -->
                <div class="d-flex justify-content-between me-2">
                    <div>
                        <a class="text-decoration-none" href=".login-register" data-bs-toggle="collapse" role="button">Register</a>
                        <a>|</a>
                        <a class="text-decoration-none" 
                            tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" 
                            title="Notice" data-bs-content="This feature is not available at this time. Try again later.">
                            Forgot Password
                        </a>
                    </div>
                    
                    <!-- submit -->
                    <button type="submit" class="btn-sm btn-primary" name="action" value="login">Login</button> 
                </div>
            </form>

        </div>

        <!-- Register -->
        <div class="panel rounded p-3 mx-auto flex-grow-1 login-register collapse {{ show_registration }}" style="height: min-content; min-width: 450px;">
            <h4 class="text-center mt-1 mx-auto">Register</h4>

            <form action="/login" method="post" >

                <!-- inputs -->
                <p class="validation" {{ register_messages | get_validation_visibility("first_name")}}>{{ register_messages | get_validation_message("first_name") }}</p>
                <input type="text" class="form-control mb-2" name="first_name" placeholder="First Name" value='{{ reg_form_data["first_name"]}}' >
                <p class="validation" {{ register_messages | get_validation_visibility("last_name")}}>{{ register_messages | get_validation_message("last_name") }}</p>
                <input type="text" class="form-control mb-2" name="last_name" placeholder="Last Name" value='{{ reg_form_data["last_name"]}}'>
                <!-- could use type='email' for front end validation-->
                <p class="validation" {{ register_messages | get_validation_visibility("email")}}>{{ register_messages | get_validation_message("email") }}</p>
                <input type="text" class="form-control mb-2" name="email" placeholder="Email" value='{{ reg_form_data["email"]}}'>
                <p class="validation" {{ register_messages | get_validation_visibility("password")}}>{{ register_messages | get_validation_message("password") }}</p>
                <input type="password" class="form-control mb-2" name="password" placeholder="Password" >
                <p class="validation" {{ register_messages | get_validation_visibility("confirm_password")}}>{{ register_messages | get_validation_message("confirm_password") }}</p>
                <input type="password" class="form-control mb-2" name="confirm_password" placeholder="Confirm Password" >

                <hr class="">

                <!-- submit -->
                <div class="d-flex justify-content-end me-2">
                    <button type="reset" class="btn-sm btn-primary me-2" data-bs-toggle="collapse" data-bs-target=".login-register">Cancel</button> 
                    <button type="submit" class="btn-sm btn-primary" name="action" value="register">Register</button> 
                </div>
            </form>

        </div>
    </div>
{% endblock content %}
