{% extends 'layouts/error_page_layout.html' %}

{% block title %}Sasquatches Websightings - Login{% endblock %}

{% block content %}

    <div class="panel rounded p-3 mt-3 mx-auto flex-grow-1" style="height: min-content; min-width: 450px;">
        <h4 class="text-center mt-1 mx-auto rounded">404 Sasquatches not found!</h4>
        
        <hr class="">
            <h5 class="text-center">The Sasquatches you are looking for are not here!</h5>
        <hr class="">

    </div>

{% endblock content %}