{% extends 'layouts/error_page_layout.html' %}

{% block title %}Sasquatches Websightings - Login{% endblock %}

{% block content %}

    <div class="panel rounded p-3 mt-3 mx-auto flex-grow-1" style="height: min-content; min-width: 450px;">
        <h4 class="text-center mt-1 mx-auto rounded">500 Server Error!</h4>
        
        <hr class="">
            <h5 class="text-center">The server encountered an error while preparing your request!</h5>
            <P class="text-center">Please contact server administrator at admin@----.com!</P>
        <hr class="">

    </div>

{% endblock content %}